# Copy values to your environment (.env) when running locally
APP_ENV=development
SECRET_KEY=change-me
ALLOWED_ORIGINS=http://localhost:3000

POSTGRES_USER=visai
POSTGRES_PASSWORD=visai123
POSTGRES_DB=visai
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

GOOGLE_APPLICATION_CREDENTIALS=
OPENAI_API_KEY=


